@import "./constants/Colors.scss";
@import "./constants/Fonts.scss";
@import "./constants/Sizes.scss";

.container {
  background-color: #{$backgroundGrey};
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: #{$quicksand};
  h1 {
    font-size: 50px;
  }
  .blogPreviewsContainer {
    margin-top: 20px;
    min-height: calc(100vh - 65px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .postCard {
      object-fit: cover;
      height: 500px;
      .previewImage {
        width: 100px;
      }
    }
  }
}
