.container {
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posts {
  height: 90vh;
  overflow-y: scroll;
}

.createPostSection {
  background-color: black;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts {
  width: 100%;
}

.blogPreviewContainer {
  width: 90%;
  height: 200px;
  background-color: rgb(0, 0, 0);
  display: flex;
  margin: 10px auto;
  padding-right: 10px;
  border-radius: 20px;
}

.blogPreviewContainer > .image {
  width: 200px;
  height: 100%;
  margin-right: 10px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.blogPreviewContainer > div {
  width: calc(100% - 200px);
}

.blogPreviewContainer > div > * {
  color: #f6cd45;
  padding-left: 10px;
}

.createPostSection > button {
  background-color: #f6cd45;
  color: #000;
}
