.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f8f8ff;
}

.container > * {
  max-width: 80%;
  margin: auto;
}

.container > img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 300px;
}

.container > h2 {
  font-size: 50px;
}

.container > h3 {
  font-size: 25px;
}

.container > p {
  margin-top: 20px;
  font-size: 18px;
}
