@import "./constants/Colors.scss";
@import "./constants/Fonts.scss";
@import "./constants/Sizes.scss";

.container {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #{$white};
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .createPost {
    margin: 100px auto 40px auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 80%;
    min-height: calc(100vh - 165px);
    & > * {
      font-family: #{$quicksand};
    }
    input,
    textarea {
      outline: none;
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-color: #{$white};
      padding: 10px;
      &::placeholder {
        color: #666;
      }
      &:active,
      &:focus {
        border-style: dotted;
        border-radius: 10px;
        border-color: #{$yellow};
        border-width: 3px;
      }
      margin-bottom: 10px;
    }
    .formTitle {
      font-size: 30px;
      font-weight: 600;
    }
    .formImgUrl {
      font-size: 18px;
    }
    .formContent {
      font-size: 20px;
      height: 200px;
      font-weight: 400;
    }
    .formTags {
      font-size: 18px;
      font-weight: 400;
    }
    .formButton {
      width: 150px;
      margin: 10px auto !important;
      height: 40px;
      font-size: 20px;
      border: 2.5px solid #{$black};
      border-radius: 4px;
      box-shadow: 4px 4px 1px #000;
      transition: 0.1s;
      background-color: #{$yellow};
      &:hover {
        transform: translateX(4px) translateY(4px);
        box-shadow: 0px 0px 0px #000;
      }
    }
  }
}
